{%extends "shop/base.html"%} {%block content%}
<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <div class="card shadow-sm border-0">
      <div class="card-body p-5 text-center">
        <i
          class="bi bi-check-circle-fill text-success"
          style="font-size: 4rem"
        ></i>

        <h2 class="card-title text-success mt-4 mb-4 fw-bold">
          Commande Confirmée !
        </h2>

        <p class="lead text-dark fs-5">
          Salut <span class="fw-bold">{{nom}}</span>,
        </p>

        <p class="text-muted fs-6 px-4">
          Merci de nous faire confiance. Nous avons bien reçu votre commande
          pour "Dilane-shop" et nous la préparons avec soin. Vous serez livré
          dans un délai d'un jour ouvrable.
        </p>

        <div class="mt-5">
          <a href="{% url 'home' %}" class="btn btn-success btn-lg shadow-sm">
            Continuer mes achats
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
