{% extends 'shop/base.html' %} {%block content%}
<div class="row">
  <div class="col-md-6">
    <img
      src="{{ product.display_image_url }}"
      height="500px"
      weight="500px"
      alt="{{ product.title }}"
    />
  </div>
  <div class="col-md-6">
    <div class="text-warning display-3">{{product.title}}</div>
    <div class="text-danger">prix: $ {{product.price}}</div>
    <div class="mt-3">{{product.description}}</div>
    <a href="#"><button class="btn btn-success mt-3">Acheter</button></a>
  </div>
</div>

{%endblock content%}
