{% extends "shop/base.html" %} {% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card shadow">
      <div class="card-body p-5">
        <h3 class="text-center mb-4 fw-bold">Créer un compte</h3>
        <form method="POST">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label fw-bold">Nom d'utilisateur</label>
            <input type="text" name="username" class="form-control" required />
            <small class="text-muted"
              >150 caractères max. Lettres, chiffres et @/./+/-/_
              uniquement.</small
            >
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Mot de passe</label>
            <input
              type="password"
              name="password1"
              class="form-control"
              required
            />
            <small class="text-muted"
              >8 caractères minimum, ne peut pas être entièrement
              numérique.</small
            >
          </div>

          <div class="mb-4">
            <label class="form-label fw-bold">Confirmer le mot de passe</label>
            <input
              type="password"
              name="password2"
              class="form-control"
              required
            />
          </div>

          {% if form.errors %}
          <div class="alert alert-danger">
            {% for field in form %} {% for error in field.errors %}
            <div>{{ error }}</div>
            {% endfor %} {% endfor %}
          </div>
          {% endif %}

          <button type="submit" class="btn btn-primary w-100 btn-lg">
            S'inscrire
          </button>
        </form>
        <p class="text-center mt-3">
          Déjà un compte ? <a href="{% url 'connexion' %}">Se connecter</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
